doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/css/default.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
      header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
        .mdl-layout__header-row
          span.mdl-layout-title #{title}
          .mdl-layout-spacer
          .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
            label.mdl-button.mdl-js-button.mdl-button--icon(for='search')
              i.fas.fa-search.material-icons(role='presentation')
            .mdl-textfield__expandable-holder
              input#search.mdl-textfield__input(type='text')
              label.mdl-textfield__label(for='search') Enter your query...
          button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
            i.fas.fa-ellipsis-h.material-icons(role='presentation', data-fa-transform="rotate-90")
          ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for='hdrbtn')
            li.mdl-menu__item About
            li.mdl-menu__item Contact
            li.mdl-menu__item Legal information
      .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
        header.demo-drawer-header
          img.demo-avatar(src=`${session.user.avatar_url}`)
          .demo-avatar-dropdown
            if session.user.email
              span #{session.user.email}
            else
              span unknown user
            .mdl-layout-spacer
            button#accbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
              i.fas.fa-caret-down.material-icons(role='presentation')
              span.visuallyhidden Accounts
            ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='accbtn')
              li.mdl-menu__item hello@example.com
              li.mdl-menu__item info@example.com
              li.mdl-menu__item
                i.material-icons add
                | Add another account...
        nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
          a.mdl-navigation__link(href='/')
            i.fas.fa-home.mdl-color-text--blue-grey-400.material-icons(role='presentation')
            | Home
          if session.user.id
            a.mdl-navigation__link(href='/users')
              i.fas.fa-user.mdl-color-text--blue-grey-400.material-icons(role='presentation')
              | Users
            a.mdl-navigation__link(href='/posts')
              i.fas.fa-file-alt.mdl-color-text--blue-grey-400.material-icons(role='presentation')
              | Posts
            a.mdl-navigation__link(href='/users/logout')
              i.fas.fa-sign-out-alt.mdl-color-text--blue-grey-400.material-icons(role='presentation')
              | Logout
          else
            a.mdl-navigation__link(href='/users/login')
              i.fas.fa-sign-in-alt.mdl-color-text--blue-grey-400.material-icons(role='presentation')
              | Login
              
          .mdl-layout-spacer
          a.mdl-navigation__link(href='')
            i.far.fa-question-circle.mdl-color-text--blue-grey-400.material-icons(role='presentation')
            span.visuallyhidden Help

      main.mdl-layout__content.mdl-color--grey-100
        block content

    script(defer, src="/dist/js/default.js")
    
    script(defer, src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
