body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 12px;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tbody tr:nth-child(even){
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.table tbody th {
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  font: 20px monospace;
  padding: 12px 20px;
  margin: .5em 0 1em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

input[type="submit"],
button {
  padding: 12px 18px;
  font: 20px monospace;
}

a.button {
  font: 20px monospace;
  padding: 12px 18px;
  text-decoration: none;
  color: #000;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.delete {
  text-align: right;
}

.delete a{
  color: #ff0000;
}
