extends ../layout

block content

  a.button(href="#users" onclick="viewIndex()") All Users
  span &nbsp;&nbsp;
  a.button(href="#create" onclick="createUser()") Create

  div#app
    
  script(src='/dist/js/apps/users.min.js')
