extends ../layout

block content
  h1= title

  a.button(href="#users" onclick="viewIndex()") All Posts
  span &nbsp;&nbsp;
  a.button(href="#create" onclick="createPost()") Create

  div#app
    
  script(src='/dist/js/post_app.js')
