extends ../layout

block content

  a.button(href="#users" onclick="viewIndex()") All Posts
  span &nbsp;&nbsp;
  a.button(href="#create" onclick="createPost()") Create

  div#app
    
  script(src='/dist/js/apps/posts.min.js')
